<footer class="footer">
   <div class="container bottom_border">
      <div class="row">
         <div class="col">
            <h5 class="headin5_amrc col_white_amrc pt2">{{ FOOTER_TITLE }}</h5>
            <!--headin5_amrc-->
            <p class="mb10"><img id="profile_img" align="left" src="{{ SITEURL }}/{{ PROFILE_PHOTO_FOOTER }}">{{ TEXT_FOOTER }}</p>
            <p><i class="fa fa-envelope mr-2"></i>{{ EMAIL }}</p>
         </div>
      </div>
   </div>
   <div class="container">
      <ul class="foote_bottom_ul_amrc">
         <li><a href="/">HOME</a></li>
         <li><a href="{{ ABOUT_PAGE }}">ABOUT</a></li>
         <li><a href="{{ ARCHIVE_PAGE }}">ARCHIVE</a></li>
      </ul>
      <!--foote_bottom_ul_amrc ends here-->
      <p class="text-center">{{ COPYRIGHT_NOTICE }}</p>
      <div class="container">
          <div class="row justify-content-center">
              <div class="row" align="center">
                  <div class="footer-icon"><a href="{{ LINKEDIN_LINK }}"><i class="fab fa-linkedin-in"></i></a></div>
                  <div class="footer-icon"><a href="{{ GITHUB_LINK }}"><i class="fab fa-github"></i></a></div>
              </div>
          </div>
      </div>

      <!--social_footer_ul ends here-->
   </div>
</footer>