{% extends 'base.html' %}

{% block title %}
    All Posts | {{ super() }}
{% endblock title %}

{% block head_description %}
    Full archives of {{ SITENAME|striptags|e }}.
{% endblock head_description %}

{% block meta_tags_in_head %}
    {{ super() }}
    <link rel="canonical" href="{{ SITEURL }}/{{ ARCHIVES_URL|default('archives') }}">
    <meta property="og:title" content="{{ ARCHIVE_PAGE_TITLE }} | {{ SITENAME|striptags|e }}"/>
    <meta name="twitter:title" content="{{ ARCHIVE_PAGE_TITLE }} | {{ SITENAME|striptags|e }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ ARCHIVES_URL|default('archives') }}" />
    <meta property="og:description" content="{{ ARCHIVE_PAGE_DESCRIPTION }}" />
    <meta name="twitter:description" content="{{ ARCHIVE_PAGE_DESCRIPTION }}"/>
    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
    <meta property="og:article:author" content="{{ AUTHOR }}" />
    {% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{FEATURED_IMAGE}}" />
        <meta name="twitter:image" content="{{FEATURED_IMAGE}}"/>
    {% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
<div id="post-container" class="container post index list">
    <article>
        <div class="h2 mt-3 title text-center mb-5">Archive</div>
        <hr>
        <div class="meta" style="margin-bottom: 30px; margin-top: 30px;">
            {% for tag, articles in tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }} ({{ articles | length }})</a>
            {% endfor %}
        </div>
        <ul class="double-list">
            {% for category, articles in categories %}
                <h2 class="mt-3 mb-3">{{ category }}</h2>
                {% for article in articles %}
                    <li>
                        <a href='/{{ article.url }}'>
                            <h2>{{ article.title }}</h2>
                            <span>{{ article.date.strftime('%d.%m.%Y') }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        <hr class="mt-4">

        </ul>
    </article>
</div>
{% endblock content %}
