{% extends 'base.html' %}

{% block title %}
    {{ article.title|striptags|e }} {%if article.subtitle %} - {{ article.subtitle|striptags|e }} {% endif %} | {{ super() }}
{% endblock title %}

{% block head_description %}
    {% if article.social_media_description %}
        {{ article.social_media_description|striptags|e }}
    {% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
    {% if article.redirect %}
        <meta http-equiv="refresh" content="0;URL={{ article.redirect}}"/>
    {% endif %}
    {{ super() }}
    {% if article.tags or article.category or article.keywords %}
        <meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}"/>
    {% endif %}

    {% from '_includes/smo_metadata.html' import smo_metadata with context %}
    {{ smo_metadata(article) }}
{% endblock meta_tags_in_head %}

{% block content %}
<div id="post-container" class="container post index">
    <article>
        <header>
            <h1>{{ article.title }}</h1>
            <div class="row justify-content-between no-margin">
                <h4 class="article-category">Category > <a class="article-category-link" href="{{ SITEURL }}/{{ ARCHIVE_PAGE }}">{{ article.category }}</a></h4>
                <span class="article-date">{{ article.locale_date }}</span>
            </div>
            <div class="meta meta-tag no-margin no-border">
                <div>
                    {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            {% from '_includes/share_links.html' import share_links with context %}
            {{ share_links(article) }}
        </header>
        <div class="article_content">
            {% import '_includes/translations.html' as translations with context %}
            {{ translations.translations_for(article) }}
            {{ article.content }}
        </div>
        <hr/>
        {% if article.prev_article or article.next_article %}
        <aside>
        <nav>
        <ul class="articles-timeline">
            {% if article.prev_article %}
                {% set ptitle = article.prev_article.title|striptags|e %}
                {% set pv_title = article.prev_article.title|striptags %}
                {%if article.prev_article.subtitle %}
                    {% set pv_title = pv_title + ' ' +  '<small>' + article.prev_article.subtitle|striptags + '</small>' %}
                    {% set ptitle = ptitle + ' - ' + article.prev_article.subtitle|e %}
                {% endif %}
            <li class="previous-article">« <a href="{{ SITEURL }}/{{ article.prev_article.url }}" title="Previous: {{ ptitle }}">{{ pv_title }}</a></li>
            {% endif %}
            {% if article.next_article %}
                {% set ntitle = article.next_article.title|striptags|e %}
                {% set nv_title = article.next_article.title|striptags %}
                {%if article.next_article.subtitle %}
                    {% set nv_title = nv_title + ' ' +  '<small>' + article.next_article.subtitle|striptags + '</small>' %}
                    {% set ntitle = ntitle + ' - ' + article.next_article.subtitle|e %}
                {% endif %}
            <li class="next-article"><a href="{{ SITEURL }}/{{ article.next_article.url }}" title="Next: {{ ntitle }}">{{ nv_title }}</a> »</li>
            {% endif %}
        </ul>
        </nav>
        </aside>
        {% endif %}
        {% include '_includes/disqus_thread.html' %}
        <hr/>
        {% include '_includes/related_posts.html' with context %}
    </article>
</div>
{% endblock content %}